body
{
    overflow-y: hidden;
    overflow-x: hidden;
    margin:0px;
    padding:0px;
    background-color: #000000;
}

#content{
    margin:0px;
}

#orientation {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/rotate-device.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
}